body {
    margin: 0%;
    background-image: url(assets/warehouse-1.jpg);
}

#form-container {
    position: absolute;
    place-self: anchor-center;
    width: 75%;
    height: 70%;
    display: flex;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

#form-left {
    width: 56%;
    height: auto;
    aspect-ratio: 1/3;
    align-content: center;
    justify-items: anchor-center;
}

#form-right {
    display: inherit;
    width: 44%;
    aspect-ratio: 2/3;
    flex-shrink: 0;
    background-image: url(assets/warehouse-2.jpg);
    background-position-y: center;
}

#loginForm {
    margin: auto;
    padding: 10%;
    text-align: center;
}

label{
    color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#submit-Bttn {
    width: 15em;
    height: 3em;
    flex-shrink: 0;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 50px;
    border-style: none;
    background: #815355;
}