{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <link rel = "stylesheet" href="{% static 'css/password.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title>{% block title %} 
        Reset Password
    {% endblock title %} </title>
    </head>
    
    <body>
        {% comment %} <div class="">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            Your password has been set. You may go ahead and <a href="{% url 'user_login' %}">Login Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

    </body>
</html>