{% extends "inventory/base.html" %}
{% load static %}

{% block head%} 
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/user_list.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <script src={% static 'js/user_list.js'%}></script>
{% endblock%}

{% block content %}
<html>
    <head>
        <div id="dashboard">
            <h1>Users</h1>
        </div>
    </head>

    <body>
        <div id="search">
            <img src="{% static 'images/search.png'%}" alt="Magnifying glass" class="logo">
            <form class="searchbar"><input type="search" name="Search" id="searchbar" oninput="search_users()"></form>
            <div style="width: 60%;"> </div>
            <div class="dropbtn">
                <div class="dropdown-button">
                    <h4> Roles <img src="{% static 'images/arrow-down.png'%}" class="logo dropdown"></h4>
                </div>
                <div class="dropdown-content">
                    <ul>
                        <li onclick="refresh_users('any')">Any</li>
                        <li onclick="refresh_users('cashier')">Cashier</li>
                        <li onclick="refresh_users('admin')">Admin</li>
                        <li onclick="refresh_users('manager')">Manager</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main-content">
            <div id="user-list">
                {% include 'partials/user_list_partial.html' %}
            </div>
        </div>
        <div id="userinfo-box">
            <h3>Select a user to view their information</h3>
        </div>
        <div class="editBtn-box">
            <button type="button" class="editBtn add" onclick="add_user()"> Add User </button>
            {% comment %} <button type="button" class="editBtn del"> Delete User </button> {% endcomment %}
        </div>
    </body>
</html>
{%endblock%}