{% load static %}

{% for product in products%}
    <div class="product" onclick="show_product({{product.id}})">
        {%if product.quantity == 0 %}
            <div class="stock-alert empty">
                <img src="{% static 'inventory/exclamation.png'%}"></img>
            </div>
        {%elif product.quantity <= 5%}
            <div class="stock-alert low">
                <img src="{% static 'inventory/exclamation-yellow2.png'%}"></img>
            </div>
        {%endif%}
        <div class="top-section" style="background-image: url('{{product.image.url}}')">
            <div class="product-stock">
                <p>Stock: {{product.quantity}}</p>
            </div>
        </div>
        {% comment %} <a class="fill-div" href="?add={{product.id}}"></a> {% endcomment %}
        <div class="product-name">
            <h3>{{product.name}}</h3>
            <p>RM {{product.price| floatformat:2}}</p>
        </div>
    </div>
{% endfor%}