#navcolumn {
    display: inline-grid;
    justify-content: center;
    text-align: center;
    
    position: relative;
    overflow: hidden;

    width: 3em;
    height: 18em;
    top: 30%;
    left: 1%;
    z-index: 1;

    border-radius: 30px;
    background-color: #CBD4C2;
}

.nav {
    position: relative;
    width: 2em;
    height: 2em;
    top: 15%;
    left: -4em;
}

#manager-nav {
    visibility: hidden;
    position: absolute;
    place-content: center;
}

#admin-nav {
    visibility: visible;
    position: absolute;
    place-content: center;
}

#cashier-nav {
    visibility: hidden;
    position: absolute;
    place-content: center;
}

#logout-nav{
    position: absolute;
    width: 2em;
    height: 2em;
    bottom: 8%;
    left: -3.5em;
}

.manager-logo {
    width: 2em;
    height: 2em;
    filter: drop-shadow(4em 0 0px #FFFFFF);
}

.admin-logo {
    width: 2em;
    height: 2em;
    filter: drop-shadow(4em 0 0px #FFFFFF);
}

.cashier-logo {
    width: 2em;
    height: 2em;
    filter: drop-shadow(4em 0 0px #FFFFFF);
}

#logout {
    width: 2em;
    height: 2em;
    filter: drop-shadow(4em 0 0px #FFFFFF);
}

p {
    margin: 0;
    top: -1.5em;
    left: 6.5em;
    position: relative;
}

.mfull {
    position: relative;
    padding-left: 16em;
    left: 0;
    visibility: hidden;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
}

.afull {
    position: relative;
    padding-left: 6.5em;
    left: 0;
    visibility: hidden;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
}

.cfull {
    position: relative;
    padding-left: 6.5em;
    left: 0;
    visibility: hidden;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
}

.lfull {
    position: relative;
    padding-left: 6.8em;
    left: 0;
    visibility: hidden;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
}

/* Manager Hover */
/*
#navcolumn:hover {
    overflow: hidden;
    width: 9em;
    .mfull {
        visibility: visible;
    }
    .nav {
        left: -6.5em;
    }
    .manager-nav {
        left: -6.5em;
    }
    #logout-nav {
        left: -3em;
    }
    .lfull{
        visibility: visible;
    }
}
*/

/* Admin Hover */

#navcolumn:hover {
    overflow: hidden;
    width: 9em;
    #manager-nav .manager-logo {
        visibility: hidden;
    }
    .afull {
        visibility: visible;
    }
    .nav {
        left: -6.5em;
    }
    .admin-nav {
        left: -6.5em;
    }
    #logout-nav {
        left: -3em;
    }
    .lfull{
        visibility: visible;
    }
}


/* Cashier Hover */
/*
#navcolumn:hover {
    overflow: hidden;
    width: 9em;
    .cfull {
        visibility: visible;
    }
    .nav {
        left: -6.5em;
    }
    .cashier-nav {
        left: -6.5em;
    }
    #logout-nav {
        left: -3em;
    }
    .lfull{
        visibility: visible;
    }
}
*/

a:hover {
    .manager-logo{
        filter: drop-shadow(4em 0 0px #523249);
    }
    .mfull {
        color: #523249;
    }
    #logout {
        filter: drop-shadow(4em 0 0px #523249);
    }
}