body, html {
    font-size: 1vw;
    margin: 0;
    background-color: #F0ECDD;
}

h1 {
    margin-block-start: 0;
    padding-top: 1%;
    padding-left: 8%; /* padding 18% when nav opened */
}
h3,h4 {
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

#dashboard {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    width: 100%;
    height: 10vh;

    margin-block-start: 0%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 2;
    top: 0;
    
    background-color: white;
    box-shadow: 4px 2px 4px gray;
}

#return {
    position: absolute;
    top: 15vh;
    width: 4%;
    background-color: #9eb7a0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 4px -2px #5a6a5c;
    cursor: pointer;
}

#close-box {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    float: right;
    
    filter: brightness(1) invert(1);
    background: transparent;
    border-style: none;
}
#close {
    width: 2vw;
    height: 2vw;
}
#return:hover {
    width: 6%;
    #close-box {
        margin-right: 15%;
    }
}

#main-content {
    position: relative;
    left: 7%;
    top: 14vh;
    width: 91%;
    height: 83vh;
    
    background-color: #FFF;
    border-radius: 10px;
    overflow-y: scroll;
}
#main-content::-webkit-scrollbar {
    display: none;
}

.filter {
    width: 2em;
    height: 2em;
    padding-left: 1em;
    opacity: 0.6;
}


table.products {
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

thead.products {
    height: 2.5em;
    box-shadow: 0px 2px 4px 0px rgba(222, 218, 203, 0.8);
}
th.products {
    align-items: center;
    justify-self: center;
    justify-items: center;
}
.header-container {
    margin: 0;
    padding: 0;
    display: flex;
}
.header-text {
    position: static;
    margin-top: 5%;
}

tbody.products {
    vertical-align: top;
}

tr.products {
    background-color: #eaede6;
    vertical-align: middle;
    height: 2.5em;
}

.products.data:hover {
    background-color: #FFF;
    box-shadow: 2px 2px 4px 2px rgba(222, 218, 203, 0.8);
}
