body, html {
    font-size: 1vw;
    margin: 0;
    background-color: #F0ECDD;
}

h1 {
    margin-block-start: 0;
    padding-top: 1%;
    padding-left: 8%; /* padding 18% when nav opened */
}
h3,h4 {
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

#dashboard {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    width: 100%;
    height: 10vh;

    margin-block-start: 0%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 2;
    top: 0;
    
    background-color: white;
    box-shadow: 4px 2px 4px gray;
}

#main-content {
    position: relative;
    left: 8%;
    top: 14vh;
    width: 60%;
    height: 83vh;
    
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
}

table.products {
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

thead.products {
    height: 2.5em;
    box-shadow: 0px 2px 4px 0px rgba(222, 218, 203, 0.8);
}

tbody.products {
    vertical-align: top;
}

tr.products {
    background-color: #eaede6;
    vertical-align: middle;
    height: 2.5em;
}

.products.data:hover {
    background-color: #FFF;
    box-shadow: 2px 2px 4px 2px rgba(222, 218, 203, 0.8);
}