#category-box {
    position: absolute;
    top: 50vh;
    left: 7%;

    width: 38%;
    height: 40%;

    background-color: rgb(255, 255, 245);
    border-radius: 20px;
    overflow: hidden;
}

#category-title {
    position: absolute;
    z-index: 1;
}

#chartContainer {
    position: absolute;
    top: 5%;
}