body {
    background-color: #F0ECDD;
    margin: 0;
}

.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    visibility: visible;
}

#error-box {
    position: fixed;
    align-self: anchor-center;
    left: 30%;
    z-index: 1;

    width: 80vh;
    height: 30vh;
    background-color: #FFF7EB;
    border-radius: 20px;
}

#close-error {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;

    background-color: #DAE0D3;
    color: #000;
    border-radius: 10px;
    border-style: none;
}
#close-error:hover {
    background-color: #a6af9c;
}

#error-title {
    text-align: center;
    justify-self: center;
    width: 95%;
    font-size: 1.2vw;
}

#msg {
    text-align: center;
    justify-self: center;
    width: 95%;
    height: 75%;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 700;
    font-size: 1.1vw;
    letter-spacing: 2px;
    line-height: 30px;
}