<div id="actual-info">
    <h2 class="title"> Add User </h2>
    <form method="POST" action="{% url 'user_create'%}">
        {% csrf_token %}
        {% comment %} <div class="form-input">
            {% for field in user_form%}
                <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{field}}
            {% endfor %}
            <label class="form-label" for="{{ field.auto_id }}">{{ employee_form.role.label }}</label>
            {{employee_form.role}}
        </div> {% endcomment %}

        {{user_form}}

        {{employee_form}}

        <button type="submit">Add User</button>
    </form>
</div>