{% if employees%}
    {% for employee in employees%}
        <div class="user box" onclick="show_user({{employee.id}})">
            <div class="user role">
                <h3> {{employee.role}} </h3>
            </div>
            <div class="user username">
                <h3> {{employee.user.first_name}} {{employee.user.last_name}}</h3>
            </div>
        </div>
    {% endfor %}
{% else%}
    {% if search_criteria and search_input%}
        <h3>No users found with the {{search_criteria}} "{{search_input}}"</h3>
    {%else%}
        <h3>No users found.</h3>
    {%endif%}
{%endif%}