{% extends "users/navigation.html" %}
<!DOCTYPE html>
{% load static %}
{% block dashboard %}
    <script src="{% static 'js/call_manager.js'%}"></script>
    <link rel="stylesheet" href="{% static "css/sales_page.css" %}">
    {% comment %} <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script> {% endcomment %}
    
    <body>
        {% comment %} <div id="scanner-div">
            <div id="reader" width="600px"></div>
            <button type="button" onclick="show_scanner(false)">Close</button>
        </div> {% endcomment %}

        <div class="input-box">
            {% comment %} <button type="button" class="input-bttn scan" onclick="show_scanner(true)">Scan Item</button> {% endcomment %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="scan" value=true>
                <button type="submit" class="input-bttn scan">Scan Item</button>
            </form>

            <div class="product-detail" id="product-detail-tab">
                <div class="details-box default">
                </div>

                <div class="details-box addItem" id="add-item-box">
                    <form action="" method="post" id="item_code_form">
                        <h1 class="boxTitle add">Add Product</h1>
                        {% csrf_token %}
                        {{ item_code_form.as_p}}
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                // Show product-detail-box cash when Enter Code button is clicked
                                document.getElementById('enterCode').addEventListener('click', function() {
                                    document.querySelector('.details-box.default').style.visibility = 'hidden';            
                                    document.querySelector('.details-box.addItem').style.visibility = 'visible';
                                    document.querySelector('.details-box.quantity').style.visibility = 'hidden';
                                });
                            })
                        </script>
                        <div class="buttons add">
                            <button type="button" class="close-product-box" id="close-addItem"><img src="{% static 'images/back-arrow.png' %}" alt="back-arrow" id="close-product"></button>
                            <button type="submit" id="addItemBttn">Add</button>
                        </div>
                    </form>
                </div>

                <div class="details-box quantity" id="quantity-item-box">
                    {% if show_quantity %}
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                document.querySelector('.details-box.default').style.visibility = 'hidden';
                                document.querySelector('.details-box.addItem').style.visibility = 'hidden';
                                document.querySelector('.details-box.quantity').style.visibility = 'visible';
                            })
                        </script>
                    {% else %}
                        <script>
                            resetToDefault(); 
                        </script>
                    {% endif %}

                <h3 class="boxTitle">{{ product.name }}</h3>
                <div class="details">
                    <h3>Product Code</h3>
                    <h4>{{product.id}}</h4>
                </div>
                <div class="details">
                    <h3>Category</h3>
                    <h4>{{ product.category }}</h4>
                </div>
                <div class="details">
                    <h3>Current Stock</h3>
                    {% for message in messages %}
                        {% if message.tags == 'info' %}
                            <h4>{{ message }}</h4>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <form action="" method="post" id="quantity_form">
                    {% csrf_token %}
                    <div id="enterQuantity">
                        <input type="hidden" name="item_code" value="{{ item_code }}">
                        {{ quantity_form }}
                    </div>
                
                    <div class="buttons confirm">
                        <button type="button" class="close-product-box" id="close-quantity"><img src="{% static 'images/back-arrow.png' %}" alt="back-arrow" id="close-product"></button>
                        <input type="submit" id="confirmBttn">
                    </div>
                </form>
            </div>
        </div> 

        <button type="button" class="input-bttn code" id="enterCode">Enter Code</button>
        <button type="button" class="input-bttn manager" id="call-manager-button" onclick="call_manager()">Call Manager</button>
    </div>
    
    {% block cart %}{% endblock %}
{% endblock %}