{% extends "pos/sales_page.html" %}
{% load static %}

{% block cart %}
    <link rel="stylesheet" href="{% static "css/sales_cart.css" %}">
    <script src="{% static "js/checkout.js" %}"></script>
    <script src="{% static "js/alert.js" %}"></script>
    <script src="{% static "js/addProduct.js" %}"></script>

    <div class="cartbox">
        <h3 class="boxTitle">Cart</h3>
        <div id="table_container">
            <table class="cart">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th width='10'></th>
                        <th>Quantity</th>
                        <th width='10'></th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody class="cart">
                    {% if cart %}
                        {% for item in cart %}
                            <tr class="cart">
                                <td><form action="" method="post" class="edit-cart">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete" value="{{ item.name }}">
                                        <button type="submit" class="delete">X</button>
                                    </form>
                                </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.unit_price|floatformat:2 }}</td>
                                <td><form action="" method="post" class="edit-cart">
                                        {% csrf_token %}
                                        <input type="hidden" name="minus" value="{{ item.name }}">
                                        <button type="submit" class="edit-quantity">-</button>
                                    </form>
                                </td>
                                <td>{{ item.quantity }}</td>
                                <td><form action="" method="post" class="edit-cart">
                                        {% csrf_token %}
                                        <input type="hidden" name="add" value="{{ item.name }}">
                                        <button type="submit" class="edit-quantity">+</button>
                                    </form>
                                </td>
                                <td>{{ item.total_price|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr></tr> 
                    {% endif %}
                    
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="keyboardBox" id="item-code">
                <button type="button" class="keyboard keyboard-cart" value="1">1</button>
                <button type="button" class="keyboard keyboard-cart" value="2">2</button>
                <button type="button" class="keyboard keyboard-cart" value="3">3</button>
                <button type="button" class="keyboard keyboard-cart" value="4">4</button>
                <button type="button" class="keyboard keyboard-cart" value="5">5</button>
                <button type="button" class="keyboard keyboard-cart" value="6">6</button>
                <button type="button" class="keyboard keyboard-cart" value="7">7</button>
                <button type="button" class="keyboard keyboard-cart" value="8">8</button>                
                <button type="button" class="keyboard keyboard-cart" value="9">9</button>
                <form action="" method="post" id="clear_cart_form">
                    {% csrf_token %}
                    {{ clear_cart_form }}
                    <button type="submit" class="keyboard clear">Clear Cart</button>
                </form>
                <button type="button" class="keyboard keyboard-cart" value="0">0</button>
                <form action="" method="post" id="clear_last_form">
                    {% csrf_token %}
                    {{ clear_last_form }}
                    <button type="submit" class="keyboard cancel">Undo</button>
                </form>
            </div>
            <div class="checkout-box">
                <div class="check-out subtotal">
                    <h4>Subtotal</h4>
                    <h4>RM {% if cart %}{{ cart_cost|floatformat:2 }}
                        {% else %}0.00{% endif %}
                    </h4>
                </div>
                <div class="check-out discount">
                    <h4>Discount</h4>
                    <h4>RM 0.00</h4>
                </div>
                <div class="check-out tax">
                    <h4>Tax</h4>
                    <h4>RM 0.00</h4>
                </div>
                <div class="check-out total">
                    <h3>Total</h3>
                    <h3>RM {% if cart %}{{ cart_cost|floatformat:2 }}
                        {% else %}0.00{% endif %}
                    </h3>
                </div>
                <button type="button" class="checkOut-Bttn" id="checkOutBttn">Check-Out</button>
            </div>
        </div>
    </div>

    <div class="dimmer"></div>
    <div class="payment">
        <form action="{% url 'sales' %}" method="post" id='checkout_form'>
            {% csrf_token %}
            {{ checkout_form.check_out }}
            {{ checkout_form.payment_method }}

            <div class="payment-box cash">
                <button type="button" id="close-box"><img src="{% static 'images/back-arrow.png' %}" alt="back-arrow" id="close"></button>
                <h2 class="boxTitle">Payment Method</h2>
                <div class="payment-button">
                    <button type="button" class="cashBttn" onclick="changePayment('cashBttn')"
                    style="width: 25%; height: 5vh; margin-right: 5%;
                            font-family: 'Mukta Mahee', sans-serif; font-weight: 500; font-size: 1.2vw; font-style: normal;
                            background: #815355; color: #FFF; border-radius: 20px; border-style: none;">
                        Cash
                    </button>
                    <button type="button" class="cardBttn" onclick="changePayment('cardBttn')"
                    style="width: 25%; height: 5vh; margin-right: 5%;
                            font-family: 'Mukta Mahee', sans-serif; font-weight: 500; font-size: 1.2vw; font-style: normal;
                            border-radius: 20px; border-style: none; background: #D9D9D9; color: #595959;">
                        Credit/Debit Card
                    </button>
                </div>

                <div class="payment-content">
                    <div class="payment-details">
                        <div class="receipt-detail">
                            <h3>RECEIPT ID</h3>
                            <h3>1100011111</h3>
                        </div>
                        <div class="receipt-detail">
                            <h3>TOTAL COST</h3>
                            <h3>RM {{ cart_cost|floatformat:2 }}</h3>
                        </div>
                        <div class="receipt-detail">
                            <h3>PAID</h3>
                            <div style="display: flex;">
                                <h3 id="cash-value">RM   </h3>
                                {{ checkout_form.cashPaid }}
                            </div>                            
                        </div>
                        <button type="submit" class="donePayment-bttn" id="doneCash-Payment" data-payment="cash">DONE PAYMENT</button>
                    </div>
                    <div class="keyboardBox">
                    <button type="button" class="keyboard-cash" value="1">1</button>
                    <button type="button" class="keyboard-cash" value="2">2</button>
                    <button type="button" class="keyboard-cash" value="3">3</button>
                    <button type="button" class="keyboard-cash" value="4">4</button>
                    <button type="button" class="keyboard-cash" value="5">5</button>
                    <button type="button" class="keyboard-cash" value="6">6</button>
                    <button type="button" class="keyboard-cash" value="7">7</button>
                    <button type="button" class="keyboard-cash" value="8">8</button>
                    <button type="button" class="keyboard-cash" value="9">9</button>
                    <button type="button" class="keyboard-cash clear">Clear All</button>
                    <button type="button" class="keyboard-cash" value="0">0</button>
                    <button type="button" class="keyboard-cash decimal" value=".">.</button>
                    </div>
                </div>
            </div>

            <div class="payment-box card">
                <button type="button" id="close-box"><img src="{% static 'images/back-arrow.png' %}" alt="back-arrow" id="close"></button>
                <h2 class="boxTitle">Payment Method</h2>
                <div class="payment-button">
                    <button type="button" class="cashBttn" onclick="changePayment('cashBttn')"
                    style="width: 25%; height: 5vh; margin-right: 5%;
                            font-family: 'Mukta Mahee', sans-serif; font-weight: 500; font-size: 1.2vw; font-style: normal;
                            background: #D9D9D9; color: #595959; border-radius: 20px; border-style: none;">
                        Cash
                    </button>
                    <button type="button" class="cardBttn" onclick="changePayment('cardBttn')"
                    style="width: 25%; height: 5vh; margin-right: 5%;
                            font-family: 'Mukta Mahee', sans-serif; font-weight: 500; font-size: 1.2vw; font-style: normal;
                            background: #815355; color: #FFF; border-radius: 20px; border-style: none;">
                        Credit/Debit Card
                    </button>
                </div>

                <div class="payment-content">
                    <div class="payment-details">
                        <div class="receipt-detail">
                            <h3>RECEIPT ID</h3>
                            <h3>1100011111</h3>
                        </div>
                        <div class="receipt-detail">
                            <h3>TOTAL COST</h3>
                            <h3>RM {{ cart_cost|floatformat:2 }}</h3>
                        </div>
                        <div id="card-input-box">
                            <div class="card-input first">
                                <img src="{% static 'images/credit-card.png' %}" alt="card.png" id="bank-icon">
                                {{ checkout_form.card_number }}
                            </div>
                            <div class="card-input sec">
                                {{ checkout_form.expiry }}
                                {{ checkout_form.cvv }}
                            </div>
                        </div>
                        <button type="submit" class="donePayment-bttn" id="doneCard-Payment" data-payment="debit_card">DONE PAYMENT</button>
                    </div>
                    <div class="keyboardBox">
                    <button type="button" class="keyboard-card" value="1">1</button>
                    <button type="button" class="keyboard-card" value="2">2</button>
                    <button type="button" class="keyboard-card" value="3">3</button>
                    <button type="button" class="keyboard-card" value="4">4</button>
                    <button type="button" class="keyboard-card" value="5">5</button>
                    <button type="button" class="keyboard-card" value="6">6</button>
                    <button type="button" class="keyboard-card" value="7">7</button>
                    <button type="button" class="keyboard-card" value="8">8</button>
                    <button type="button" class="keyboard-card" value="9">9</button>
                    <button type="button" class="keyboard-card clear">Clear All</button>
                    <button type="button" class="keyboard-card" value="0">0</button>
                    <button type="button" class="keyboard-card back">Back</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div id="error-container">
                    <div class="dimmer-error"></div>

                    <div id="error-box">
                        <button type="button" id="close-error">X</button>

                        <p id="error-title">ERROR / ALERT</p>
                        <p id="error-msg">{{ message }}</p>
                    </div>
                </div>

            {% elif message.tags == 'success' %}
                <div id="success-container">
                    <div class="dimmer-success"></div>

                    <div id="success-box">
                        <button type="button" id="close-success">X</button>

                        <p id="success-title">UPDATE SUCCESS</p>
                        <p id="success-msg">{{ message }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    

{% endblock %}