{% extends "users/navigation.html" %}
{% load static %}
{% block dashboard %}
    <link rel = "stylesheet" href="{% static 'css/view_history.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="{% static 'js/history.js'%}"></script>


    <div id="main-content">
        <div id="dashboard">
            <h1>Sales</h1>
            <div class="filter-bar">
                <div class="filter-option" id="date-filter-selection">
                    <h3 class="filter-title" id="date-filter-title">Past 100 Days</h3>
                    <img src="{% static 'images/arrow-down.png' %}" class="logo dropdown">
                </div>

                <div class="filter-option" id="payment-filter-selection">
                    <h3 class="filter-title"> Filter </h3>
                    <img src="{% static 'images/adjust.png'%}" class="logo filter">
                </div>
              
                <div class="filter-payment-box">
                    <button type="button" onclick="filter_payment('Credit Card')">Credit Card</button>
                    <button type="button" onclick="filter_payment('Debit Card')">Debit Card</button>
                    <button type="button" onclick="filter_payment('DuitNow')">DuitNow</button>
                    <button type="button" onclick="filter_payment('Cash')">Cash</button>
                    <button type="button" onclick="filter_payment('Others')">Others</button>
                </div>
            </div>
            
            <div class="history" id="history-list">
                {% include 'partials/history_partial.html' %}
            </div>
        </div>
        
        <div class="history" id="history-list">
            {% include 'partials/history_partial.html' %}
        </div>
    </div>

{% endblock dashboard %}