body, html {
    font-size: 1vw;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #F0ECDD;
}

h1,h4 {
    margin: 0;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%; /* padding 18% when nav opened */
}
h3 {
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1vw;
    margin: 0;
}
h5 {
    margin: 0;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#main-content {
    position: relative;
    left: 10%;
    width: 90%;
    height: 100%;
    
    background-color: #CFD2CB;
}

#dashboard {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    width: 100%;
    height: 15%;
    
    background-color: white;
    box-shadow: 4px 2px 4px gray;
}

.filter-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filter-option{
    width: fit-content;
    height: 100%;
    padding-left: 2%;
    padding-right: 3%;
    display: flex;
}

.logo {
    width: 1.5em;
    height: 1.5em;
    padding-left: 1em;
    align-self: center;
}

.filter-title {
    margin: 0;
    align-self: center;
}

.filter-date-box {
    position: fixed;
    top: 15vh;
    width: 25%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background: #FFFBEE;
    box-shadow: -2px 2px 8px #CFD2CB;
    visibility: hidden;
    z-index: 2;
}

.filter-payment-box {
    position: fixed;
    left: 88%;
    top: 15vh;
    width: 11%;
    padding-top: 1%;
    background: #FFFBEE;
    box-shadow: -2px 2px 8px #CFD2CB;
    z-index: 2;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 

button.filter-date.choice {
    width: 40%;
    height: 75%;
}

.filter-date.fixed button:hover {
    color: #F5EFD8;
    background: #828282;
}

.filter-date.fixed {
    display: flex;
    height: 6vh;
    justify-content: space-between;
}

.filter-date.fixed button{
    width: 30%;
    height: 70%;

    color: #828282;
    background: #F5EFD8;
    border-style: none;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.filter-date.custom {
    height: 10vh;
    border-top-style: solid;
    border-top-color: #C3B299;
}

.filter-date.custom {
    height: 10vh;
    border-top-style: solid;
    border-top-color: #C3B299;
}

.filter-payment-box button {
    width: 90%;
    height: 4vh;
    margin-bottom: 5%;
    color: #828282;
    background: #FFFBEE;
    border-style: none;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.filter-payment-box button:hover {
    color: #000;
    background: #F5EFD8;
}

/* .filter {
    display: flex;
    width: 100%;
    height: 43.5%;
}

.filter.date {
    width: 90%;
    height: 100%;
    padding-left: 2%;
    background: transparent;
    border-right: #CFD2CB;
    border-right-style: solid;
}

.filter-title {
    margin: 0;
    align-self: center;
}

.logo {
    width: 1.5em;
    height: 1.5em;
    padding-left: 1em;
    align-self: center;
}

.filter.payment-type {
    width: 10%;
    height: 100%;
    padding-left: 2%;
    background-color: transparent;
    border-left: #CFD2CB;
}

button.filter-date {
    width: 30%;
    height: 70%;

    color: #828282;
    background: #F5EFD8;
    border-style: none;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button.filter-date.choice {
    width: 40%;
    height: 75%;
}

button.filter-date:hover {
    color: #F5EFD8;
    background: #828282;
}

.filter-date-box {
    position: fixed;
    top: 15vh;
    width: 25%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background: #FFFBEE;
    box-shadow: -2px 2px 8px #CFD2CB;
    visibility: hidden;
    z-index: 2;
}

.filter-date.fixed {
    display: flex;
    height: 6vh;
    justify-content: space-between;
}
.filter-date.custom {
    height: 10vh;
    border-top-style: solid;
    border-top-color: #C3B299;
}

.filter-payment-box {
    position: fixed;
    left: 88%;
    top: 15vh;
    width: 11%;
    padding-top: 1%;
    background: #FFFBEE;
    box-shadow: -2px 2px 8px #CFD2CB;
    z-index: 2;
} */

.visible {
    visibility: visible;
}

ul{
    padding-left: 10%;
    margin: 0;
}

/* button.filter-payment {
    width: 90%;
    height: 4vh;
    margin-bottom: 5%;
    color: #828282;
    background: #FFFBEE;
    border-style: none;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 600;
    font-style: normal;
}

button.filter-payment:hover {
    color: #000;
    background: #F5EFD8;
} */

.history {
    padding-left: 2%;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden; /*Change this to see transaction detail*/
}

.day.title {
    width: fit-content;
    margin-bottom: 0.5%;
    padding-left: 1%;
}

.day.transactions {
    display: flex;
    width: 93%;
    height: 10vh;

    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-bottom: 0.5%;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border-radius: 20px;
}

.day.transactions:hover {
    background: #DBEBC0;
}

.transact-detail {
    position: absolute;
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: center;
    visibility: visible; /*Change this to see transaction detail*/

    top: 15vh;
    width: 100%;
    height: 85%;
}

#close {
    width: 4vh;
    height: 4vh;
    padding: 0;
}

#close-box {
    width: 6vh;
    height: 6vh;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

    background-color: transparent;
    border-style: none;
    border-radius: 10px;
}

#close-box:hover {
    background-color: #D9D9D9;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    width: 80vw;
    height: fit-content;
    
    background-color: #fff;
    border-radius: 30px;
    justify-items: center;    
}

#print {
    position: absolute;
    top: 7vh;
    right: 10vh;

    width: 10%;
    height: 5vh;
    border-radius: 15px;
    border-style: none;
    background-color: rgba(163, 214, 217, 0.5);
}

.content-detail {
    width: 60%;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.header2 {
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: end;
}
.item {
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.item2{
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: end;
}

.box {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.included, .final {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.included-box, .final-box {
    width: 80%;
    margin-top: 1%;
    padding-top: 1%;
    border-top: #828282;
    border-top-style: solid;
}

.included.box, .final.box {
    grid-template-columns: 1fr 1fr;
}

.included.title, .final.title {
    text-align: left;
}
.included.value, .final.value {
    text-align: right;
}
