.cartbox {
    position: relative;
    left: 10%;

    width: 65%;
    background-color: #FFF;
    box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

#table_container {
    width: 100%;
    height: 61%;
    overflow-y: scroll;
    background: #d9d6bf38;
}
#table_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.cart {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-spacing: 1px;
    
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

thead.cart, tr.cart {
    height: 2%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
thead.cart {
    position: sticky;
    top: 0;
    background-color: white;
}

.edit-cart {
    margin: 0;
}
.delete {
    border-color: rgb(255, 136, 140);
    color: #FFF;
    background-color: rgb(255, 136, 140);
}
.edit-quantity {
    border-color: #DBEBC0;
    background-color: #DBEBC0;
}
.edit-quantity:hover {
    border-color: #c4d6a4;
    background-color: #c4d6a4;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 33%;
    margin-top: 1%;
}

.keyboardBox {
    margin-right: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
}

.keyboard, .keyboard-cash, .keyboard-card {
    margin: 2%;
    
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    
    border-radius: 10px;
    border-style: none;
    background-color: rgba(163, 214, 217, 0.3);
}

.keyboard.clear, .keyboard-cash.clear, .keyboard-card.clear{
    background-color: rgba(232, 101, 106, 0.30);
}

#clear_cart_form, #clear_last_form {
    margin: 2%;
}
.keyboard.clear{
    width: 96%;
    height: 96%;
}
.keyboard.cancel {
    width: 96%;
    height: 96%;
    background: rgba(240, 139, 191, 0.30);
}

.keyboard:hover, .keyboard-cash:hover, .keyboard-card:hover{
    background-color: rgba(163, 214, 217);
}

.delete:hover, .keyboard.clear:hover, .keyboard-cash.clear:hover, .keyboard-card.clear:hover {
    color: #FFF;
    background-color: rgba(232, 101, 106);
}

.keyboard.cancel:hover {
    color: #FFF;
    background: rgba(240, 139, 191);
}

.checkout-box {
    width: 45%;
}

.check-out {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-right: 3%;
}
.check-out.total {
    padding-top: 10%;
}

.checkOut-Bttn {
    width: 100%;
    height: 32%;
    margin-top: 3%;

    border-radius: 20px;
    border-style: none;
    background: #815355;

    color: #FFF;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 500;
    font-size: 2vw;
}

.checkOut-Bttn:hover {
    background: #513436;
}

/* Pay now */
.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    visibility: hidden;
}

.payment-box.cash {
    position: fixed;
    bottom: 0;
    left: 50%;
    
    transform: translateX(-50%);
    width: 60%;
    height: 55%;
    background-color: #FFF;
    border-radius: 10px;

    z-index: 1;
    visibility: hidden;
}

.payment-button {
    width: 100%;
    text-align: center;
}

.payment-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    margin-top: 2.5%;
}

#close {
    width: 4vh;
    height: 4vh;
    padding: 0;
}

#close-box {
    width: 6vh;
    height: 6vh;
    margin-top: 1%;
    margin-left: 2%;

    background-color: transparent;
    border-style: none;
    border-radius: 10px;
}

#close-box:hover {
    background-color: #D9D9D9;
}

.payment-details {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 1.1vw;
    font-weight: 700;
}

.receipt-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}

#cash-value {
    padding-right: 1%;
}

#cash-paid {
    width: 8rem;
    margin: 0;
}

.donePayment-bttn {
    position: absolute;
    width: 28%;
    height: 10%;
    left: 14%;
    bottom: 8%;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 800;
    font-size: 1.25vw;
    font-style: normal;

    background-color: #CDE7A0;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}

.donePayment-bttn:hover {
    background-color: #79c281;    
}

.payment-box.card {
    position: fixed;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
    width: 70%;
    height: 65%;
    background-color: #FFF;
    border-radius: 10px;

    z-index: 2;
    visibility: hidden;
}

#bank-icon {
    width: 12%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-left: 2.5%;
}

#card-input-box {
    margin-top: 5%;
    width: 100%;
    height: 40%;
    background-color: #5c6b7d;
    border-radius: 20px;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.3);
}

.card-input {
    width: 100%;
    height: 50%;
    justify-content: center;
    display: flex;
}

.card-info {
    margin-left: 2%;
    width: 83%;
    padding-left: 5%;
    border-style: none;
    
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    font-style: normal;
    letter-spacing: 5px;

    color: #FFF;
    background-color: transparent;
}
#cardNo {
    font-size: 1.2vw;
    letter-spacing: 8px;
}

.card-info.sec {
    width: 50%;
    padding-left: 5%;
    border-style: none;
    color: #FFF;
    background-color: transparent;
}

.card-info::placeholder {
    color: #D9D9D9;
}

.dimmer-error {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;
    
    background: #000;
    opacity: 0.5;
    visibility: visible;
}

#error-box {
    position: fixed;
    align-self: anchor-center;
    left: 30%;
    z-index: 1;

    width: 80vh;
    height: 30vh;
    background-color: #FFF7EB;
    border-radius: 20px;
}

#close-error {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;

    background-color: #DAE0D3;
    color: #000;
    border-radius: 10px;
    border-style: none;
}
#close-error:hover {
    background-color: #a6af9c;
}

#error-title {
    margin-top: 1%;
    margin-bottom: 1%;
    position: static;
    text-align: center;
    justify-self: center;
    width: 95%;
    font-weight: 500;
    font-size: 1.2vw;
}

#error-msg {
    position: static;
    text-align: center;
    align-content: center;
    justify-self: center;
    width: 95%;
    height: 75%;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    color: #E8656A;
    letter-spacing: 2px;
    line-height: 30px;
}

.dimmer-success {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;
    
    background: #000;
    opacity: 0.5;
    visibility: visible;
}

#success-box {
    position: fixed;
    align-self: anchor-center;
    left: 30%;
    z-index: 1;

    width: 80vh;
    height: 30vh;
    background-color: #FFF7EB;
    border-radius: 20px;
}

#close-success {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;

    background-color: #DAE0D3;
    color: #000;
    border-radius: 10px;
    border-style: none;
}
#close-success:hover {
    background-color: #a6af9c;
}

#success-title {
    margin-top: 1%;
    margin-bottom: 1%;
    position: static;
    text-align: center;
    justify-self: center;
    width: 95%;
    font-weight: 500;
    font-size: 1.5vw;
}

#success-msg {
    position: static;
    text-align: center;
    align-content: center;
    justify-self: center;
    width: 95%;
    height: 75%;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    color: #E8656A;
    letter-spacing: 2px;
    line-height: 30px;
}