@media only screen and (max-width: 1920px) {
    body, html{
        font-family: "Mukta Mahee", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    body {
        margin: 0%;
        padding: 0;
        border : 0;
        background-image: url(../images/warehouse-1.jpg);
    }

    h1 {
        font-family: "Mukta Mahee" sans-serif;
    }

    #form-container {
        position: absolute;
        place-self: anchor-center;
        width: 75%;
        height: 70%;
        display: flex;
        background-color: white;
        border-radius: 30px;
        overflow: hidden;
    }

    #form-left {
        width: 56%;
        height: auto;
        aspect-ratio: 1/3;
        align-content: center;
        justify-items: anchor-center;
    }

    #form-right {
        display: inherit;
        width: 44%;
        aspect-ratio: 2/3;
        flex-shrink: 0;
        background-image: url(../images/warehouse-2.jpg);
        background-position-y: center;
    }

    #loginForm {
        margin: auto;
        padding: 1%;
        text-align: center;
    }

label{
    color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 10px;
    border-style: none;
}

input {
    width: 18vw;
    height: 6vh;
    padding-left: 5%;
    border-radius: 10px;
}

#submit-Bttn {
    width: 20vw;
    height: 6vh;
    flex-shrink: 0;

    margin-top: 4%;
    padding: 0;
    text-align: center;
    color: white;
    background: #815355;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border-style: none;
}

    #submit-Bttn:hover {
        background: #603d3f;
    }

    #warehub-logo{
        width: 5vw;
    }
}