@media only screen and (max-width: 1920px) {
    body, html{
        font-family: "Mukta Mahee", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    body {
        margin: 0%;
        padding: 0;
        border : 0;
        background-image: url(../images/warehouse-1.jpg);
    }

    .box, #form-container {
        position: absolute;
        place-self: anchor-center;
        width: 70%;
        height: 70%;
        display: flex;
        background-image: linear-gradient(#523249, #815355);
        border-radius: 30px;
        overflow: hidden;
    }

    #form-container {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/3;
        align-content: center;
        justify-items: anchor-center;
    }

    #form-left {
        width: 45%;
        height: 90%;
        align-content: center;
        justify-items: anchor-center;
        
        margin-left: 2.5%;
        margin-top: 2.5%;
        background-color: white;
        border-radius: 20px;
    }
    #form-right {
        display: block;
        width: 55%;
    }

    #logo-box {
        width: 12vw;
        height: 12vw;

        margin-top: 15%;
        background-color: #FFFFFF66;

        border-radius: 50%;
        align-content: center;
        justify-self: center;
        text-align: center;
    }

    #warehub-logo {
        width: 8vw;
        margin-top: 5%;
        margin-left: 8%;
    }
    #welcome {
        margin-top: 10%;
        color: white;
        text-align: center;
    }

    #loginForm {
        margin: auto;
        padding: 1%;
        text-align: center;
    }

    label{
        color: #000;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        border-radius: 10px;
        border-style: none;
    }

    input {
        width: 17vw;
        height: 6vh;
        margin-left: 5%;
        padding-left: 5%;
        border-radius: 10px;
    }

    #submit-Bttn {
        width: 21vw;
        height: 6vh;
        flex-shrink: 0;

        margin-top: 4%;
        padding: 0;
        text-align: center;
        color: white;
        background: #815355;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        border-radius: 10px;
        border-style: none;
    }

    #submit-Bttn:hover {
        background: #603d3f;
    }

    #extra {
        display: flex;
        width: 18em;
        margin-top: 1%;
        justify-content: space-between
    }

    #contact {
        padding: 2.5%;
        background-color: #523249;
        color: white;

        border-radius: 10px;
        border: none;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        border-radius: 10px;
        border-style: none;
    }

    #messages-container {
        width: 20vw;
        height: fit-content;
        position: absolute;
        z-index: 5;
        right: 0%;
        top: 0%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 5vh;
        overflow: hidden;
    }

    .message {
        width: 90%;
        aspect-ratio: 4/1;
        background-color: #FFF7EB;
        border-radius: 1vw;
        box-shadow: 4px 2px 4px gray;
        display: flex;
        align-items: center;
        padding-left: 1vw;
        animation: cssAnimation 0s 3s forwards;
        visibility: visible;
    }

    @keyframes cssAnimation {
    to   { visibility: hidden; }
    }

    .success{
        color: green;
    }

    .message img {
        width: 2vw;
    }

    .message-text {
        margin-left: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2vw;
    }

    .form-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 8vh;
        margin-bottom: 2vh;
    }

    #email-form{
        margin-bottom: 3vh;
    }

    .vertical {
        display: flex;
        flex-direction: column;
    }

    .alert {
        color: rgb(180, 0, 0)
    }

    ul {
        list-style-type: none;
    }
    
    .fail {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fail h3 {
        text-align: center;
    }

    .fail img {
        width: 5vw;
    }

    #password-change {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    #welcome-p{
        padding: 0 5vw;
    }

    #password-change form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 5vh;
    }

    #password-change p {
        text-align: center;
    }

    .password-form-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 3vh 0;
    }

    .password-form-row h3 {
        margin: 0;
    }
}