<div class="product-form">
  <h1>
    {%if create%} 
      Add Product 
    {%else%}
      Edit Product
    {% endif%}
  </h1>
  {%if create%} 
    <div class="product-image"></div>
  {%else%}
    <div class="product-image" style="background-image: url('{{product.image.url}}');"></div>
  {% endif%}
  
  <form method="POST" enctype="multipart/form-data" 
  {%if create%} action="{% url 'product_create' %}" {%else%} action="{% url 'product_update' product.id%}" {%endif%}>
    {% csrf_token %}
    <div class="all-fields">
      <div class="field-wrapper">
        <h2>Name</h2>
        {{form.name}}
      </div>
      <div class="field-wrapper">
        <h2>Category</h2>
        {{form.category}}
      </div>
      <div class="field-wrapper">
        <h2>Supplier</h2>
        {{form.supplier}}
      </div>
      <div class="field-wrapper">
        <h2>SKU</h2>
        {{form.sku}}
      </div>
      <div class="field-wrapper">
        <h2>Quantity</h2>
        {{form.quantity}}
      </div>
      <div class="field-wrapper">
        <h2>Alert Notice</h2>
        {{form.alert_threshold}}
      </div>
      <div class="field-wrapper">
        <h2>Price</h2>
        {{form.price}}
      </div>
      <div class="field-wrapper">
        <h2>Image</h2>
        {{form.image}}
      </div>
    </div>
    <div class="form-buttons">
      {% comment %} <a id="back" href="{% url 'product_list' %}">Back</a> {% endcomment %}
      <button type="submit">Confirm</button>
    </div>
  </form>
</div>