{% extends 'users/navigation.html' %}

{% block dashboard %}
{% load static %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href="{% static 'inventory/product_list.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <title>Products</title>

  <script src="{% static 'inventory/product_list.js' %}"> </script>


  <aside class="sidebar">
    
  </aside>
  <main>
    <section>
      <div class="container">
        <div class="list-header">
          <div class="list-subheader">
            <h1>List of Products</h1>
            <p>Showing {{product_count}} product{{product_count|pluralize}}</p>
          </div>

          <div class="list-filter">
            <form method="POST">
              {% csrf_token %}
              <select name="category" oninput="filter_products()" id="category-filter">
                <option value="none">Category</option>
                {% for category in categories%}
                  <option value="{{category.name}}">{{category.name}}</option>
                {%endfor%}
              </select>

              <select name="availability" oninput="filter_products()" id="availability-filter">
                <option value="none">Availability</option>
                <option value="low">Low stock</option>
                <option value="zero">Zero stock</option>
              </select>

              <img src="{% static 'images/search 1.png' %}">
              <input type="text" id="text-search" oninput="filter_products()"></input>
            </form>
          </div>
        </div>
        
        <div id="product-list-container">
          {% include 'partials/product_list_partial.html'%}
        </div>

        <div id="add-product">
          <button onclick="add_product()">Add Product</button>
        </div>        
      </div>
    </section>

    <section>
      <div class="details-tab" id="right-section">
        <div class="product-details">
            <div class="default-message"><h3>Select a product to view its information</h3></div>
        </div>
        <div class="qr-details">
            <div class="default-message"><h3>No QR information found</h3></div>
        </div>
      </div>
    </section>
  </main>

{% endblock%}