body html {
    font-size: 1vw;
}

#navcolumn {
    display: inline-grid;
    justify-content: center;
    text-align: center;
    
    position: relative;
    overflow: hidden;

    width: 3.5em;
    height: 14em;
    top: 32%;
    left: 1%;
    z-index: 1;

    border-radius: 30px;
    background-color: #CBD4C2;
}

.nav {
    position: relative;
    width: 2em;
    height: 2em;
    top: 20%;
    left: -3.9em;
}

.logo {
    width: 2em;
    height: 2em;
    filter: drop-shadow(4em 0 0px #FFFFFF);
}

p {
    margin: 0;
    top: -1.5em;
    left: 6.5em;
    position: relative;
}

.navfull {
    position: relative;
    padding-left: 6.6em;
    padding-right: 6em;
    padding-bottom: 0.5em;
    left: 0;
    visibility: hidden;

    font-family: "Mukta Mahee", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: #FFFFFF;
}

/* Change .home for different pages */
.logo.products {
    width: 2.5em;
    height: 2.5em;
    filter: drop-shadow(4em 0 0px #523249);
}

.nav.products {
    left: -4.25em;
}

.navfull.products {
    font-size: large;
    padding-left: 6.2em;
    color: #523249;
}

/* Animations */
#navcolumn:hover {
    overflow: hidden;
    width: 9em;
    .navfull {
        visibility: visible;
    }
    .nav {
        left: -6.5em;
    }
    .nav.products {
        left: -6.8em;
    }
}

a:hover {
    .logo{
        filter: drop-shadow(4em 0 0px #e0ffab);
    }
    .navfull {
        color: #000;
    }
}