{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <link rel = "stylesheet" href="{% static 'css/index.css' %}">
    <title>{% block title %} 
        User Login
    {% endblock title %} </title>
    </head>
    
    <body>
        <div id="form-container">
            <div id="form-left">
                {% block content %}
                    <h1>Warehub</h1>
                    <form method="POST" id="loginForm">
                        {% csrf_token%}

                        <label for="user-email">Username</label><br>
                        {{form.username}}<br></br>
                        <label for="password">Password</label><br>
                        {{form.password}}<br></br><br>

                        <input type="submit" value="Login" id="submit-Bttn">
                    </form>
                {% endblock %}
            </div>
            <div id="form-right">
                {% comment %} <img src="" alt="inventory-checking.png">  {% endcomment %}
            </div>
        </div>
    </body>
</html>
