{% load static %}
<!DOCTYPE html>
<html>
    <link rel = "stylesheet" href="{% static 'css/index.css' %}">
    <title>
      {% block title %} 
        User Login
      {% endblock title %}
    </title>
    <body>
        <div id="form-container">
            <div id="form-left">
                {% block content %}
                    <h1>App Name</h1>
                    <form method="post" id="loginForm">
                        {% csrf_token%}
                        {{form}}
                        <input type="submit" value="Login" id="submit-Bttn">
                    </form>
                {% endblock %}
            </div>
            <div id="form-right">
                <img src="{% static 'images/warehouse-1.jpg' %}" alt="warehouse-1.jpg">
            </div>
        </div>
    </body>
</html>
